[package]
name = "tidy"
version = "0.2.85"
authors = ["sts10 <sschlinkert@gmail.com>"]
license = "MIT"
edition = "2021"

[dependencies]
clap = { version = "4.0.32", features = ["derive"] }
memchr = "2.5"
radix_fmt = "1.0.0"
rand = "0.8.4"
itertools = "0.10.3"
unicode-normalization = "0.1.22"
icu_collator = "1.1.0"
icu = "1.1.0"
icu_testdata = "1.1.0"
unicode-segmentation = "1.10.0"
